
body{
    background-color:#ffffff;
}

footer{
    background-color:#0d2240;
    color:#ffffff;
}

hr{
    height:5px;
   background-color:#bbbbbb;
    width:50px;
}

p{
    line-height:30px;
}

.navbar, .navbar.navbar-default{
    background-color: #ffffff;
}

.wrapper > .header{
    background-position: top center !important;
}


.navbar .navbar-nav > li > a{
    color:#ed3b4f;
    font-size:15px;
}

.navbar .navbar-nav > li > a:hover {
    color: #ed3b4f;
}
.navbar .navbar-nav > li > a:focus {
    color: #ed3b4f;
}

.textheaderbold{
    text-shadow:2px 0px 6px #aaaaaa;
    font-weight:600;
    text-align:left;
}

.textheaderlight{
    text-shadow:2px 0px 6px #aaaaaa;
    font-weight:300 !important;
}

.nodesk{
    display:none;
}
.nomobile{
    display:block;
}

.navbar .navbar-toggle{
color:#0d2240;  padding-top: 18px;
}
.navbar-right{
    padding-top: 5px;
}

.buttonlogin{
    border:2px solid #ed3b4f;
    margin-top:3px;
    font-weight:600 !important;
    padding-right: 30px !important;
    padding-left: 30px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-radius:30px !important;
    margin-right:5px;
}
.buttonregister{
    border:2px solid #9d1c7e;
    margin-top:3px;
    color:#ffffff !important;
    background-color:#9d1c7e;
    font-weight:600 !important;
    padding-right: 30px !important;
    padding-left: 30px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-radius:30px !important;
}

.buttonregister:hover{
    background-color:transparent;
    color:#9d1c7e !important;
}

.buttonricerca{
    width:100%;
    font-weight:500;
    margin-top:20px;
    font-size:14px;
    text-align:center;
    border:none;
    background: #ed3b4f;
    background: -moz-linear-gradient(left, #ed3b4f 0%, #9d1c7e 100%);
    background: -webkit-linear-gradient(left, #ed3b4f 0%,#9d1c7e 100%);
    background: linear-gradient(to right, #ed3b4f 0%,#9d1c7e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed3b4f', endColorstr='#9d1c7e',GradientType=1 );
    color:#ffffff !important;
    text-transform:uppercase;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-radius:30px !important;

}

.buttondettaglicorso{
    width:100%;
    font-weight:400;
    margin-top:10px;
    font-size:14px;
    font-family:'Ubuntu';
    text-align:center;
    border:none;
    background: #ed3b4f;
    background: -moz-linear-gradient(left, #ed3b4f 0%, #9d1c7e 100%);
    background: -webkit-linear-gradient(left, #ed3b4f 0%,#9d1c7e 100%);
    background: linear-gradient(to right, #ed3b4f 0%,#9d1c7e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed3b4f', endColorstr='#9d1c7e',GradientType=1 );
    color:#ffffff !important;

    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border-radius:30px !important;
    margin-bottom:10px;
}


.buttonricercaavanzata{
    width:20%;
    font-weight:500;
    margin-top:20px;
    font-size:14px;
    text-align:center;
    border:none;
background-color:#ffffff;
    color:#ed3b4f !important;
    text-transform:uppercase;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-radius:30px !important;

}

.sfondoriga{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+60,bcbcbc+61,ffffff+64,ffffff+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 60%, #bcbcbc 61%, #ffffff 64%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 60%,#bcbcbc 61%,#ffffff 64%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#ffffff 60%,#bcbcbc 61%,#ffffff 64%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    text-align:center;
}

.boxricerca{
    background-color:#ffffff;
    width:90%;
    height:220px;

    margin:auto;
    margin-top:-350px;
    box-shadow:0px 0px 6px #888888;
    border-radius:3px;
}

.campiform{
    font-size:19px;
    font-family:'Ubuntu';
    font-style:italic;
}

#disciplina::-webkit-input-placeholder { font-size:19px; }
#location::-webkit-input-placeholder { font-size:19px; }
#disciplina{
    background-image: linear-gradient(#ed3b4f, #ed3b4f), linear-gradient(#ed3b4f, #ed3b4f);
    background-size: 0 2px, 100% 3px;
}
#location{
    background-image: linear-gradient(#9d1c7e, #9d1c7e), linear-gradient(#9d1c7e,#9d1c7e);
    background-size: 0 2px, 100% 3px;
}

.cerca{
    margin:auto;
    text-align:center;
    margin-top:-90px;


}

.boxcorsi{
    background-color:#ffffff;
    border-radius:10px;
    box-shadow:0px 0px 10px #999999;
    height:100%;
}



.imgsfondocorsi{
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    height:250px;

}

.imgsfondotrainer{
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    border-radius: 50%;
    height:300px;
    box-shadow:0px 0px 10px #999999;

}


.textcorsi{
    padding:10px;
}

.gradient{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ed3b4f+0,ffffff+100&0.37+0,0+100 */
    background: -moz-linear-gradient(top,  rgba(237,59,79,0.37) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(237,59,79,0.37) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(237,59,79,0.37) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5eed3b4f', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

    height:250px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;

}

.gradienttrainer{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ed3b4f+0,ffffff+84&0+0,0.79+84 */
    background: -moz-linear-gradient(top, rgba(237,59,79,0) 0%, rgba(255,255,255,0.79) 84%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(237,59,79,0) 0%,rgba(255,255,255,0.79) 84%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(237,59,79,0) 0%,rgba(255,255,255,0.79) 84%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ed3b4f', endColorstr='#c9ffffff',GradientType=0 ); /* IE6-9 */

    height:300px;
    border-radius: 50%;

}

@media (min-width: 1201px)and (max-width:1700px){

    .index-page .brand{
        margin-top: 25vh;
    }
}




@media screen and (max-width:1200px){
    .index-page .brand h1{
       font-size:3.8em;

   }
    .index-page .brand{
        margin-top: 25vh;
    }
    .textheaderbold{
        text-align:center;
    }

}


@media (min-width: 300px)and (max-width:1200px){

    .container {
        width:95%;
    }


}

@media (min-width: 300px)and (max-width:991px){

    .navbar.navbar-transparent{
        background-color:transparent !important;
    }

    .index-page .brand h1{
        font-size:3.2em;

    }

    .boxricerca{

        width:100%;
        height:290px;


    }

    .cerca{
        margin:auto;
        text-align:center;
        margin-top:-40px;


    }

    .buttonricercaavanzata{
        width:50%;
    }

    .nodesk{
        display:block;
    }
    .nomobile{
        display:none;
    }

}

@media (min-width: 300px)and (max-width:768px){
    .navbar-right{
        background-color:#ffffff;
    }

    .buttonregister{
        width:140px;
        text-align:center;
    }
    .buttonlogin{
        width:140px;
        text-align:center;
    }

}